.head__title {
    color: black;
    text-align: center;

}
.aboutUS__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    gap: 50px;

 
}

.aboutUS__content {
    width: 60%;
    max-width: 500px;
    color: black;
    margin-bottom: 80px;
    margin-left: 10px;
    
}

.aboutUS__Image{
    width: 60%;
    max-width: 500px;
    margin-right: 10px;
}


@media screen and (min-width: 894px) and (max-width: 1030px) {


    .aboutUS__container{
        height: 70vh;
    }

    .aboutUS__Image{
        width: 60%;
        max-width: 400px;
    }

    .aboutUS__content {
        width: 60%;
        max-width: 500px;
        font-size: 1.5rem;
        
    }
    
}

@media screen and (min-width: 722px) and (max-width: 894px) {

    .head__title {
        font-size: 3rem;
    
    }

    .aboutUS__container{
        height: 70vh;
    }

    .aboutUS__Image{
        width: 50%;
        max-width: 350px;
    }

    .aboutUS__content {
        width: 50%;
        max-width: 400px;
        font-size: 1.3rem;
        margin-bottom: 50px;
        
    }
    
}

@media screen and (min-width: 600px) and (max-width: 722px) {

    .head__title {
        font-size: 2.5rem;
    
    }


    .aboutUS__container{
        height: 45vh;
    }

    .aboutUS__Image{
        width: 40%;
        max-width: 350px;
    }

    .aboutUS__content {
        width: 40%;
        max-width: 400px;
        font-size: 1rem;
        margin-bottom: 50px;
        
    }
    
}



@media screen and (min-width: 500px) and (max-width: 599px) {

    .head__title {
        font-size: 2rem;
    
    }


    .aboutUS__container{
        height: 40vh;
    }

    .aboutUS__Image{
        width: 30%;
        max-width: 350px;
    }

    .aboutUS__content {
        width: 30%;
        max-width: 400px;
        font-size: 0.8rem;
        margin-bottom: 0px;
        
    }
    
}



@media screen and (max-width: 499px) {
.aboutUS__container{
    flex-direction: column;
    height:50vh;

}

.head__title {
    font-size: 2rem;

}

.aboutUS__Image{
    width: 50%;
    max-width: 350px;
    margin-bottom: 10px;
}

.aboutUS__content {
    width: 80%;
    max-width: 400px;
    font-size: 0.8rem;
    margin-bottom: 0px;
    
}

}