.projectListHeadline {
    font-style: italic;
    font-size: 34px;
    text-decoration: underline;
    color: rgb(33, 19, 186);


    /* Pulsierende Animation */
    transition: color 0.3s ease-in-out;
}

.projectListHeadline:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        color: rgb(33, 19, 186)
    }
    50% {
        color: rgb(255, 255, 255);
    }
    100% {
        color: rgb(33, 19, 186)
    }
}